body {
  text-align: center;
  margin: 20;
  padding:20;
  font-weight: normal;
  background-color: white;
  color: rgb(81, 4, 81);
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}


h1 {
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
}

h2 {
  display: flex;
  font-size: 18px;
  justify-content: flex-end;
}

ol {
  display: inline-block;
  font: darkblue;
  font-size: 22px;
}